
@layer base {
  .font-title {
    @apply font-montserrat font-semibold uppercase tracking-wide;
    font-display: swap;
  }

  .font-body {
    @apply font-roboto;
    font-display: swap;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat font-semibold uppercase tracking-wide;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: 600 700;
  }

  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 400 500;
  }
}
